<div class="container">
  <div class="text-center">
    <button mat-raised-button color="accent" class="button1">Add New Patient +</button>
    
  </div>
  
</div>
<div class="container">
<div class="input-group">
    <input type="search" id="form1" class="form-control" placeholder="Type patient ID" />
    <div class="input-group-append">
      
      <button mat-raised-button color="accent">
        <mat-icon >search</mat-icon> 
      </button>

      
    
    
  </div>
  </div>
  
</div>
<div class="container">
  <br><br><br><br>
<table id="customers">
  <tr>
    <th style="color: black; text-align: center;">PATIENT ID</th>
    <th style="color: black; text-align: center;">SCAN DATE</th>
    <th style="color: black; text-align: center;">REPORT STATUS</th>
    <th style="color: black; text-align: center;">ACTION</th>
  </tr>
  <tr>
    <td style="text-align: center;">test_123</td>
    <td style="text-align: center;"> 02-Jan-2020</td>
    <td style="text-align: center;">Available</td>

    <td align="center"><mat-icon style="color: #FF4081;">cloud_download</mat-icon> 
    <mat-icon style="color: #FF4081;">download</mat-icon>
    <mat-icon style="color: #FF4081;">control_point</mat-icon>  
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">test_123</td>
    <td style="text-align: center;"> 02-Jan-2020</td>
    <td style="text-align: center;">Available</td>

    <td align="center"><mat-icon style="color: #FF4081;">cloud_download</mat-icon> 
    <mat-icon style="color: #FF4081;">download</mat-icon>
    <mat-icon style="color: #FF4081;">control_point</mat-icon>  
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">test_123</td>
    <td style="text-align: center;"> 02-Jan-2020</td>
    <td style="text-align: center;">Available</td>

    <td align="center"><mat-icon style="color: #FF4081;">cloud_download</mat-icon> 
    <mat-icon style="color: #FF4081;">download</mat-icon>
    <mat-icon style="color: #FF4081;">control_point</mat-icon>  
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">test_123</td>
    <td style="text-align: center;"> 02-Jan-2020</td>
    <td style="text-align: center;">Available</td>

    <td align="center"><mat-icon style="color: #FF4081;">cloud_download</mat-icon> 
    <mat-icon style="color: #FF4081;">download</mat-icon>
    <mat-icon style="color: #FF4081;">control_point</mat-icon>  
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">test_123</td>
    <td style="text-align: center;"> 02-Jan-2020</td>
    <td style="text-align: center;">Available</td>

    <td align="center"><mat-icon style="color: #FF4081;">cloud_download</mat-icon> 
    <mat-icon style="color: #FF4081;">download</mat-icon>
    <mat-icon style="color: #FF4081;">control_point</mat-icon>  
    </td>
  </tr>
</table>
</div>
<div class="container">
  <div class="row">
<div class="col-sm-2">
</div>
      <div class="col-sm-6">
      <nav aria-label="Page navigation example"  >
       <br><br><br>
        <ul class="pagination" >
          <li class="page-item"><button mat-raised-button color="accent"><<<</button></li> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="page-item"><button mat-raised-button class="button"><<</button></li>
          <li class="page-item"><button mat-raised-button class="button"><</button></li>
          <li class="page-item"><button mat-raised-button class="button"> 1 </button></li>
          <li class="page-item"><button mat-raised-button class="button"> 2 </button></li>
          
            <li class="page-item"><button mat-raised-button class="button" > 3 </button></li>
            <li class="page-item"><button mat-raised-button class="button"> 4 </button></li>
            <li class="page-item"><button mat-raised-button class="button"> 5 </button></li>
            <li class="page-item"><button mat-raised-button class="button"> > </button></li>
              <li class="page-item"><button mat-raised-button class="button"> >> </button></li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="page-item"><button mat-raised-button color="accent"> >>> </button></li>
        </ul>
      </nav>
    </div>
  </div>
</div>